@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
    font-family: 'Jua', sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(돈사모\ 배경화면.jpg);
    background-repeat :no-repeat;
    background-position: center;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none
}

.main-box {
    display: flex;
    max-width: 1700px;
    height: 900px;
    color: black;
    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    background: -webkit-linear-gradient(right, #DEDEB2, #BBBBA4);
}

header {
    text-align: center;
    border-bottom: 3px solid #8A8A76;
    padding: 10px;
    max-width: 1700px;
    font-size: 35px;
}

content {
    display: flex;
}

nav {
    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    font-size: 30px;
    padding: 10px;
    background-color: #EEEEE7;

}

footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #E0E0CF;
    color: black;
    font-weight: bold;

    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.1);

}
content{
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}
.main-box,.text-wrap{
    overflow-y: scroll;   
}
.main-box::-webkit-scrollbar{
    width: 6px;
}
.text-wrap::-webkit-scrollbar{
    width: 1px;
}
.main-box::-webkit-scrollbar-thumb{
    height: 20%;
    background-color: rgba(238,238,223,0.5);
    border-radius: 10px;  
}
.text-wrap{
    display: grid;
    width: 500px;
    height: 350px;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #EAECDE;
    margin-bottom: 30px;
}
img{
    width: 60%;
}